<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Assembly Resources</title>
</head>
<body>
    <h1>Start a new process</h1>
    <form action="/submit" method="POST">
        <input class="textualInput" type="name" id="name" name="name" placeholder="Place a process name here.">
        <input class="textualInput" type="text" id="path" name="path" placeholder="Place the path to the program">
        <input class="textualInput" type="text" id="args" name="args" placeholder="Place arguments here">
        <button action="submit">Submit</button>
    </form>
    <h1>STDOUT</h1>
    <code>
        <%= 
    </code>
    <!--Only queries processes created through here AND are in the database.-->
    <h1>Query Process</h1>
    <form action="/submit" method="POST">
        <input class="textualInput" type="text" id="processName" name="processName" placeholder="Place the process name here">
        <input class="radioInput" class="radioInput"type="radio" id="Syscalls" name="SyscallQuery" value="Syscall">
        <label for="Syscalls">Query SYSCALLS</label>
        <br>
        <input class="radioInput" type="radio" id="Errors" name="ErrorQuery" value="Errors">
        <label for="Errors">Query SYSCALL errors</label>
        <br>
        <input class="radioInput" type="radio" id="Traps" name="TrapQuery" value="Traps">
        <label for="Traps">Query hardware traps</label>
        <br>
        <input class="radioInput" type="radio" id="PInfo" name="PInfo" value="PInfo">
        <label for="PInfo">Query process info</label>
        <br>
        <button action="submit">Submit</button>
    </form>
</body>
</html>