<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Assembly Resources</title>
</head>
<body>
    <h1>Input System Call</h1>
    <form method="POST" action="/confirm">
        <input class="textualInput" name="SYS_NAME" id="name" name="name" placeholder="SYS_{NAME}">
        <input class="textualInput" name="RAX" id="RAX" name="RAX" placeholder="RAX">
        <input class="textualInput" name="RDI" id="RDI" name="RDI" placeholder="RDI">
        <input class="textualInput" name="RSI" id="RSI" name="RSI" placeholder="RSI">
        <input class="textualInput" name="RDX" id="RDX" name="RDX" placeholder="RDX">
        <input class="textualInput" name="R10" id="R10" name="R10" placeholder="R10">
        <input class="textualInput" name="R8" id="R8" name="R8" placeholder="R8">
        <input class="textualInput" name="R9" id="R9" name="R9" placeholder="R9">
        <button action="submit">Submit</button>
    </form>
    <a href="/SYSCALLS">View all SYSCALLS</a>
</body>
</html>